{% extends "base.html" %}

{% block content %}

<div ng-controller="change">



<h2> Customers </h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Detail/Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in customs">
      <th scope="row">{[{item.id}]}</th>
      <td>{[{item.first_name}]}</td>
      <td>{[{item.last_name}]}</td>
      <td><a href="/customer/{[{item.id}]}">  Detail/Edit</a></td>
      <td><a class="btn btn-danger"  ng-click="deleteCustomer(item)">Delete</a></td>
    </tr>

  </tbody>
</table>

</div>



{% endblock content %}
